<% if tag_push_event %>

Latest release: <a href="https://github.com/<%= tag_push_event['repo'] %>/tree/<%= tag_push_event['tag'] %>"><%= tag_push_event['tag'] %></a> of <a href="https://github.com/<%= tag_push_event['repo'] %>"><%= tag_push_event['repo'] %></a>.

Changelog for <%= tag_push_event['tag'] %>:

<%= tag_push_event['changelog'] %>

<% else %>

No recent releases.

<% end %>
