<!doctype html>
<html>
  <head>
    <title><%= title %><%= title ? ' &mdash; ' : '' %>puppy.run</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/application.css">

    <style>
      nav li {
        position: relative;
      }

      .live {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
      }
    </style>
  </head>

  <body>
    <header id="navigation">
      <p class="navigation-toggle show"><a href="#navigation">Show Navigation</a></p>
      <p class="navigation-toggle hide"><a href="#">Hide Navigation</a></p>

      <nav>
        <ul>
          <li><a class="<%= page == 'index' ? 'active' : '' %> index" href="/">Home</a></li><!--
          --><li><a class="<%= page == 'stream' ? 'active' : '' %> stream" href="/stream">Stream</a> <% if is_streaming; %><span class="live">(live!)</span><% end %></li><!--
          --><li><a class="<%= page == 'code' ? 'active' : '' %> code" href="/code">Code</a></li><!--
          --><li><a class="<%= page == 'music' ? 'active' : '' %> music" href="/music">Music</a></li>
        </ul>
      </nav>
    </header>

    <main class="constraint">
      <h1><%= title || 'puppy.run' %></h1>

      <%= yield %>
    </main>
  </body>
</html>
